@import "tailwindcss";

:root {
  /* PRIMARY COLORS */
  --primary-bg: oklch(37.907% 0.13782 265.536);
  --primary-action: oklch(54.616% 0.21529 262.896);
  --primary-hover: oklch(62.678% 0.18299 263.561);

  /* NEUTRAL COLORS */
  --background: oklch(90.0% 0.0 0.0);
  --foreground: oklch(25.0% 0.0 0.0);
  --card: oklch(95.0% 0.0 0.0);
  --border: oklch(80.0% 0.0 0.0);
  --heading: oklch(20.0% 0.0 0.0);
  --secondary: oklch(75.0% 0.0 0.0);
  --muted: oklch(60.0% 0.0 0.0);

  /* SEMANTIC COLORS */
  --success: oklch(62.706% 0.1699 149.234);
  --warning: oklch(76.858% 0.1646 70.075);
  --danger: oklch(57.707% 0.21516 27.312);
  --info: oklch(68.47% 0.14794 237.348);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nunito-sans);
  --font-mono: var(--font-nunito);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* NEUTRAL COLORS */
    --background: oklch(10.0% 0.0 0.0);
    --foreground: oklch(90.0% 0.0 0.0);
    --card: oklch(20.0% 0.0 0.0);
    --border: oklch(30.0% 0.0 0.0);
    --heading: oklch(95.0% 0.0 0.0);
    --secondary: oklch(70.0% 0.0 0.0);
    --muted: oklch(50.0% 0.0 0.0);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.delivery-table th, td {
  @apply border border-(--border) px-2;
}