@import "tailwindcss";

:root {
  /* PRIMARY COLORS */
  --primary-bg: oklch(37.907% 0.13782 265.536);
  --primary-action: oklch(54.616% 0.21529 262.896);
  --primary-hover: oklch(62.678% 0.18299 263.561);

  /* NEUTRAL COLORS */
  --background: oklch(92.191% 0.0001 271.152);
  --foreground: oklch(26.862% 0.00003 271.152);
  --card: oklch(96.115% 0.00011 271.152);
  --border: oklch(84.522% 0.0001 271.152);
  --heading: oklch(21.779% 0.00002 271.152);
  --secondary: oklch(68.295% 0.00008 271.152);
  --muted: oklch(76.676% 0.00009 271.152);

  /* SEMANTIC COLORS */
  --success: oklch(62.706% 0.1699 149.234);
  --warning: oklch(76.858% 0.1646 70.075);
  --danger: oklch(57.707% 0.21516 27.312);
  --info: oklch(68.47% 0.14794 237.348);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nunito-sans);
  --font-mono: var(--font-nunito);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
