@import "tailwindcss";

:root {
  /* PRIMARY COLORS */
  --primary-bg: oklch(55.0% 0.18 260.0);
  --primary-action: oklch(45.0% 0.147 260.0);
  --primary-hover: oklch(60.0% 0.18 270.0);

  /* NEUTRAL COLORS */
  --background: oklch(92.0% 0.0 0.0);
  --foreground: oklch(30.0% 0.0 0.0);
  --card: oklch(95.0% 0.0 0.0);
  --border: oklch(85.0% 0.0 0.0);
  --heading: oklch(25.0% 0.0 0.0);
  --secondary: oklch(75.0% 0.0 0.0);
  --muted: oklch(80.0% 0.0 0.0);

  /* SEMANTIC COLORS */
  --success: oklch(65.0% 0.166 150.0);
  --warning: oklch(75.0% 0.162 70.0);
  --danger: oklch(60.0% 0.22 30.0);
  --info: oklch(70.0% 0.15 250.0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nunito-sans);
  --font-mono: var(--font-nunito);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* NEUTRAL COLORS */
    --background: oklch(10.0% 0.0 0.0);
    --foreground: oklch(90.0% 0.0 0.0);
    --card: oklch(20.0% 0.0 0.0);
    --border: oklch(30.0% 0.0 0.0);
    --heading: oklch(95.0% 0.0 0.0);
    --secondary: oklch(70.0% 0.0 0.0);
    --muted: oklch(50.0% 0.0 0.0);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.delivery-table th, .delivery-table td {
  @apply border border-(--border) px-3 py-2;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}